<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appstore-id</key>
	<string>calm-money</string>
	<key>rater-required-launches-before-rating</key>
	<integer>30</integer>
	<key>converter-free</key>
	<true/>
	<key>transactions-max-free</key>
	<integer>50</integer>
</dict>
</plist>
